@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --btn-fill: lightblue;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #61a0db;
}

.container {
    height: 350px;
    width: 300px;
    padding: 30px;
    color: white;
    background-color: rgb(40, 96, 134);
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}


.form__group, .form__group input {
    width: 100%;
}

.form__group {
    position: relative;        
 }

.form__group input {
    height: 30px;
    color: white;
    border: 0;
    background: transparent;
    border-bottom: 1px solid white;
}

.form__group label {
    display: flex;
    position: absolute;
    top: 5px;
}

.form__group input:focus {
    outline: 0;
}

.form button {
    width: 100%;
    padding: 15px 0;
    border-radius: 3px;
    border: 0;
    background-color: var(--btn-fill);
}

.form a {
    color: var(--btn-fill);
    text-decoration: none;
}

label p:nth-child(1) {
    transition: transform 0.05s;
}
label p:nth-child(2) {
    transition: transform 0.05s 0.05s;
}
label p:nth-child(3) {
    transition: transform 0.05s 0.1s;
}
label p:nth-child(4) {
    transition: transform 0.05s 0.15s;
}
label p:nth-child(5) {
    transition: transform 0.05s 0.2s;
}
label p:nth-child(6) {
    transition: transform 0.05s 0.25s;
}
label p:nth-child(7) {
    transition: transform 0.05s 0.3s;
}
label p:nth-child(8) {
    transition: transform 0.05s 0.35s;
}

.form__group input:focus + label[for="email"] p:nth-child(1),
.form__group input:focus + label[for="email"] p:nth-child(2),
.form__group input:focus + label[for="email"] p:nth-child(3),
.form__group input:focus + label[for="email"] p:nth-child(4),
.form__group input:focus + label[for="email"] p:nth-child(5),
.form__group input:focus + label[for="password"] p:nth-child(1),
.form__group input:focus + label[for="password"] p:nth-child(2),
.form__group input:focus + label[for="password"] p:nth-child(3),
.form__group input:focus + label[for="password"] p:nth-child(4),
.form__group input:focus + label[for="password"] p:nth-child(5),
.form__group input:focus + label[for="password"] p:nth-child(6),
.form__group input:focus + label[for="password"] p:nth-child(7),
.form__group input:focus + label[for="password"] p:nth-child(8)
{
    color: var(--btn-fill);
    transform: translateY(-20px);
}