@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
}

.sound-boards {
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.board {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 15px 40px;
    color: white;
    text-align: center;
    font-size: 1.2rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.board:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.4);
}